/* UserProfile.css */
@import '../Authentication/Login.scss';
.maincontent{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: rgb(214, 153, 255);
    font-size: large;
}
.login-form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}
.add-button {
  width: 30%;
  background-color: rgb(0, 128, 9);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px; /* Add some margin to separate the buttons */
}

.update-button {
  width: 30%;
  background-color: #FF6433;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 30px; /* Add some margin to separate the buttons */
}

.profilesidebar {
  padding: 20px;
  margin-top: 20px;
}

.listgroup {
  margin-top: 20px;
}

.profilecontent {
  padding: 20px;
  margin-top: 20px;
}

.profileheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editprofilebutton {
  margin-top: 10px;
}

.profilesection {
  margin-top: 20px;
}

/* Style the form inputs */
.MuiFormControlroot {
  width: 100%;
  margin-bottom: 15px;
}

/* Style the labels */
.MuiInputLabelroot {
  font-weight: bold;
}

/* Style the buttons */
.MuiButtonroot {
  margin-top: 10px;
}
.ListItemTextroot{
  font-size: 20px;
}
